#mws-footer{
    margin: 0 4%;
    text-align: center;
    padding: 16px 0;
    bottom: 0;
    left: 206px;
    right: 0;
    border-top: 1px solid #dadada;
    position: absolute;
}

#page li{
    float: left;
    height: 20px;
    padding: 0 10px;
    display: block;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    outline: none;
    background-color: #444444;
    color: #fff;
    text-decoration: none;
    }